<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>zso01 AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="zsoApp" ng-controller="GithubSearchService">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Simple GitHub AngularJS Dashboard</a>
            </div>
            <div class="navbar-header project-button-header" ng-show="searchMode">
                <a class="btn btn-default btn-sm" href="#" role="button">Project on Github &raquo;</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" ng-model="searchTerm" placeholder="GitHub username" class="form-control">
                    </div>
                    <button type="submit" ng-click="search()" class="btn btn-success">Search</button>
                </form>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" ng-hide="searchMode">
        <div class="container">
            <h1>Hello, Angular lovers!</h1>
            <p>This is a very simple demo project to showcase how we can build a single page dashboard application with AngularJS to discover interesting stuff about GitHub repositories or users.</p>
            <p>Please start with searching for a user in the top right corner of this page (hint: angular)!</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Project on Github &raquo;</a></p>
        </div>
    </div>

    <div class="main-container">

        <div class="container">
        <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-3" ng-show="searchUserResult">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-user"></span> Github User
                            </h3>
                        </div>
                        <div class="panel-body text-center">
                            <div>
                                <span><img ng-src="{{searchUserResult.avatar_url}}" style="width:40px;height:40px;"/></span>
                                <span><strong>{{searchUserResult.name}}</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" ng-show="searchUserResult">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-eye-open"></span> Public Repos
                            </h3>
                        </div>
                        <div class="panel-body text-center">
                            <div class="row">
                                <h3>{{searchUserResult.public_repos}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" ng-show="searchUserResult">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon glyphicon-thumbs-up"></span> Followers
                            </h3>
                        </div>
                        <div class="panel-body text-center">
                            <div class="row">
                                <h3>{{searchUserResult.followers}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" ng-show="searchUserResult">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon glyphicon-hand-up"></span> Following
                            </h3>
                        </div>
                        <div class="panel-body text-center">
                            <div class="row">
                                <h3>{{searchUserResult.following}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4" ng-show="searchReposResult">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-align-left"></span> Repositories
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#"
                                   class="list-group-item"
                                   ng-repeat="repo in searchReposResult.data"
                                   ng-click="showRepoDetails(repo)">
                                    {{repo.name}}
                                </a>
                                <span ng-hide="{{searchReposResult.data.length}}">No public repos</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" ng-show="repoDetails">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-user"></span> Repository details
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item list-group-item-heading list-group-item-success">
                                    <a ng-href="{{repoDetails.html_url}}" target="_blank"><strong>{{repoDetails.full_name}}</strong></a>
                                </div>
                                <div class="list-group-item">
                                    <a href="{{repoDetails.clone_url}}" target="_blank"> <button class="btn btn-info">clone URL</button></a>
                                    <a href="{{repoDetails.url}}/fork" target="_blank"> <button class="btn btn-info">fork <span class="badge">{{repoDetails.forks_count}}</span></button></a>
                                </div>
                                <div class="list-group-item">
                                    <a href="#" ng-click="showIssues(repo)">
                                        <strong>Open Issues</strong> <span class="badge left">{{repoDetails.open_issues}}</span>
                                    </a>
                                </div>
                                <div class="list-group-item">
                                    <a href="#" ng-click="showWatchers(repo)">
                                        <strong>Watchers</strong> <span class="badge left">{{repoDetails.watchers}}</span>
                                    </a>
                                </div>
                                <div class="list-group-item"><strong>Created</strong> {{repoDetails.created_at | date:'yyyy-MM-dd HH:mm'}}</div>
                                <div class="list-group-item"><strong>Updated</strong> {{repoDetails.updated_at | date:'yyyy-MM-dd HH:mm'}}</div>
                                <div class="list-group-item"><strong>Private</strong> {{repoDetails.private}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" ng-show="isIssuesWatchersPanel()">
                    <div class="panel panel-primary" ng-if="showIssuesPanel">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-list"></span> Issues
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="issue in searchIssuesResult.data">
                                    <a ng-href="{{issue.html_url}}" target="_blank">{{issue.title}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary" ng-if="showWatchersPanel">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-list"></span> Watchers
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="watcher in searchWatchersResult.data">
                                    <img ng-src="{{watcher.avatar_url}}" alt="{{watcher.login}}" style="width:30px;height:30px;"/>
                                    <a ng-href="{{watcher.html_url}}" target="_blank">{{watcher.login}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <footer>
                <!--<p>2015 <a href="https://github.com/zsoltiii" target="_blank">Zsolt Szalai</a></p>-->
            </footer>
        </div>
    </div> <!-- /container -->
</body>
</html>
